<!doctype html>
<html>
  <head>
    <title>React Isomorphic Server Side Rendering Example</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link href='/bbplayer-minimal.css' rel="stylesheet">
  </head>
  <body>
	<h1>Simple player</h1>

  <div class="bbplayer">
    <span class="bb-rewind"></span>
    <span class="bb-play"></span>
    <span class="bb-forward"></span>
    <div class="playerWindow">
      <div>
        <span class="bb-trackTime">--:--</span>
        <span class="bb-trackTitle">&nbsp;</span>
        <span class="bb-trackLength">--:--</span>
      </div>
      <div>
        <span class="bb-artist">Artist</span> -
        <span class="bb-album">Album</span>
      </div>
    </div>
  </div>
  <script src="/bbplayer.js"></script>
  </body>
</html>
